body {
    background-color: burlywood;
    font-family: "Verdana", "Geneva", "Tahoma", sans-serif;
}

h1.page-title {
    text-align: center;
    display: block;
    margin: 10px auto;
    background-color: cornsilk;
    color: rgb(32, 21, 10);
    padding: 10px;
}

ul {
    width:fit-content;
    display: block;
    margin: auto;
}

li {
    width: 300px;
    background-color: blanchedalmond;
    margin: 5px;
    text-align: center;
    display: inline-block;
}

.recipe-card {
    padding: 20px;
}

.recipe-card h2 {
    margin: 5px;
}